@import url(fp.css);
@import url(skills.css);
@import url(history.css);

html {
    font-family: Roboto sans-serif !important;
    overflow-x: hidden;
    height: 100%;
}

body {
    font: normal 13px Verdana, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.mycontent {
  flex: 1 0 auto;
  position: relative;
  padding-bottom: 90px;
  background-color: #dbffd6;
}

.navbar {
    height: 60px;
    width: 100%;
    background-color: #1eff00;
    position: fixed;
    top:0;
    left: 0;
    color: black;
    box-shadow: 0px 2px 13px -1px rgba(0,0,0,0.42);
    display: flex;
    justify-content: center;
    z-index: 1;
}

.navbar .content {
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .content .logo {
    position: relative;
    width: 280px;
    padding: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    font-family: Courier;
    align-items: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navbar .content .logo i{
    padding-right: 10px;
}

.navbar .content .profile {
    position: relative;
    padding: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    font-family: Courier;
    align-items: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding-right: 0;
}

.navbar .content .profile a {
    /*position: absolute;*/
    /*right: 0;*/
    color: black;
}

.navbar .content .profile a i {
    font-size: 30px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.navbar .side-item {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    width: 250px;
}

.navbar .flex-end {
    justify-content: flex-end;
}

.navbar .side-item .avatar-small {
    margin-left: 10px;
    margin-right: 0;
}

.navbar .side-item i {
    color: black;
}

.navbar .profile i:hover {
    background-color: black;
    color: #FFC017;
}

.navbar .main-menu {
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar .main-menu .main-menu-item {
    padding: 0 30px;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.navbar .auth-button {
    border-radius: 20px;
    background-color: black;
    color: #FFC017;
    padding: 7px 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    transition: 0.2s;
    height: 15px;
}

.navbar .auth-button:hover {
    background-color: transparent;
    color: black;
}

.navbar .main-menu .main-menu-item:hover {
    padding: 0 30px;
    font-size: 13px;
    background-color: black;
    color: #1eff00;
}

.navbar .main-menu .focused-item {
    padding: 0 30px;
    font-size: 13px;
    background-color: black;
    color: #1eff00;
    cursor: pointer;
    transition: 0.2s;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.section {
    padding: 0 200px;
    box-shadow: #2f3c56;
    min-height: calc(100vh - 380px);
    min-width: 750px;
}

.container {
    margin-top: 100px;
    padding-bottom: 150px;
}

.footer {
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  flex-shrink: 0;
  background-color: #161616;
  color: #afafaf;
  display: flex;
  clear: both;
  justify-content: center;
  padding: 10px 0;
  font-weight: lighter;
  width: 100%;
  line-height: 250%;
}

.footer-column {
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: Courier;
}

.footer-column:first-of-type {
    border-right: 1px solid #868686;
}

.footer-column:last-of-type {
    border-left: 1px solid #868686;
}

.avatar-small {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.avatar-small i {
    font-size: 45px;
    color: grey;
}

.main-menu a i {
    margin-right: 15px;
}

.avatar-big {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.avatar-big i {
    font-size: 50px;
    color: grey;
}

@media all and (max-width: 1420px) {

    .section {
    padding: 0 110px;
    min-width: 420px;
    }
}

@media all and (max-width: 1120px) {

    .section {
    padding: 0 20px;
    min-width: 420px;
    }
}
