{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>

<body>
  <div class="navbar">
    <div class="content">
      <div class="side-item">
        <a href="/" class="logo">
          <i class="material-icons">person</i>
           Jakub Meller
        </a>
      </div>
      <div class="main-menu">
        <a href="" id="articles" class="main-menu-item"><i class="material-icons">edit</i></a>
        <a href="/admin" id="admin" class="main-menu-item"><i class="material-icons">admin_panel_settings</i></a>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-column">
      <center>
        Jakub Meller<br>
      </center>
    </div>
    <div class="footer-column">
      <center>
        Student PJATK Warszawa<br>
      </center>
    </div>
    <div class="footer-column">
      <center>
        Strona powstała przy użyciu Django<br>
      </center>
    </div>
  </div>
  <h1>Viktor do roboty byś się wziął</h1>
</body>
</html>