{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>

<body>
<div class="mycontent">
    <div class="navbar">
        <div class="content">
            <div class="side-item">
                <a href="/" id="fp" class="main-menu-item"><i class="material-icons">home</i></a>
            </div>
            <div class="main-menu">
                <a href="/history" id="history" class="main-menu-item"><i class="material-icons">history_edu</i>Życiorys</a>
                <a href="/skills" id="skills" class="main-menu-item"><i class="material-icons">local_library</i>Umiejętności</a>
                <a href="/aboutme" id="aboutme" class="main-menu-item"><i class="material-icons">person</i>O mnie</a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
        <div class="footer-column">
            <center>
                Jakub Meller<br>
            </center>
        </div>
        <div class="footer-column">
            <center>
                Student PJATK Warszawa<br>
            </center>
        </div>
        <div class="footer-column">
            <center>
                Strona powstała przy użyciu Django<br>
            </center>
        </div>
    </div>
</div>
</body>
</html>

<script>
  let currentTab = window.location.toString();

  function selectTab(name) {
    document.getElementsByClassName('main-menu-item')[0].classList.remove('focused-item');
    document.getElementById(name).classList.add('focused-item');
  }

  if(currentTab.includes('history')) {
    selectTab('history')
  } else if(currentTab.includes('skills')) {
    selectTab('skills')
  } else if(currentTab.includes('aboutme')) {
    selectTab('aboutme')
  }

</script>