{% extends 'jakubmeller/base.html' %}

{% block content %}

<div class="history">
    <div class="start">
        <h1 class="h1-history">Moja historia</h1>
        <h2>Tu będą informacje o moim wykształceniu i historii pracy.</h2>
    </div>
    <div class="history-container">
        <div class="history-top">
            <div class="history-img-box">

            </div>
            <div class="history-top-content">
                Jakub Meller
                783374178
                kuba.meller@gmail.com
            </div>
        </div>
        <div class="history-bottom-content">

        </div>
    </div>
</div>

{% endblock %}
